# Get your free access key at https://web3forms.com
# Add the email address that should receive form submissions when creating the key.
# NEXT_PUBLIC_WEB3FORMS_ACCESS_KEY=your_access_key_here
NEXT_PUBLIC_WEB3FORMS_ACCESS_KEY="02bc5dfc-9b23-4d0e-b6aa-40d7f8034fbc"
